input[type=text] {
  // padding
  width: 150px;
  padding: 12px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  // background image
  background-color: white;
  background-image: url('../img/tagIcon.png');
  background-position: 5px 8px; 
  background-repeat: no-repeat;
  padding-left: 40px;
}

input[type=text]:focus {
  border: 1px solid #CCCCCC;
  width: 80%;
}

input[type=submit] {
  padding: 12px 20px;
  margin: 5px 0;
  box-sizing: border-box;
    border: 1px solid #CCCCCC;
  width: 30%;
}

select {
  width: 80%;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}